.DS_Store
node_modules/
node_modules-back/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log
selenium-debug.log
package-lock-BACK.json
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
#package-lock.json

